.compare-bikes {
  overflow: hidden;
  &__item {
    margin-bottom: 48px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &:last-child {
      margin-bottom: 10px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}
